<div class="heading">
  <h1 >HELLO WORLD</h1>
</div>

<div class="buttons">
  <button class="duplicate">Duplicate  card</button>
  <button class="changetxt">Change title</button>
  <button id="deletecard">Delete</button>
  <button data-toggle-btn>Toggle details</button>
    <button id="changebackground">Change Background</button>
  </div>
  
  <div id= "card" class="card">
<img src="https://toppng.com/uploads/preview/club-penguin-old-penguin-11550188540ypyeuqw1as.png" width="100"         
  height="100"/>
      <h3 >This is a penguin.</h3>
      <h4>He is in a really cool club.</h4>
    <details class="details">
      <summary>Open me</summary>
      <div>
        Join today!
      </div>
